form {
	max-width: 800px;
}
fieldset {
	border: 0;
	padding: 0;
}
ul {
	padding: 0;
}
li {
	clear: both;
	display: block;
	overflow: hidden;
	padding: 1px;
	margin: 0 0 10px 0;
}
fieldset div div {
	margin: 0 0 5px 0;
}
li > label,
legend {
	width: 25%;
	float: left;
}
li > div,
fieldset > div {
	width: 75%;
	float: right;
}
fieldset label {
	font-size: 90%;
}

input,
textarea {
	width: 100%;
	border: 1px solid #ccc;
}
input {
	width: 50%;
}
.radio input {
	width: auto;
	border: 0;
}

@media (max-width: 600px) {

}