h3 {
	position: absolute;
	left: -9999px;
}
div {
	display: inline-block;
}
input {
	border: 1px solid #ccc;
	padding: 5px;
	font-size: 1em;
	color: #999;
	margin-right: .5em;
}
button {
	font-size: .92em;
	color: #fff;
	padding: 5px 20px;
	border: 0;
	background: #4e5e5e;
	margin: 1em 0 0;
}

@media screen and (max-width: 40em) {

}