article h2 {
	font-size: 1.5em;
	margin: 0 0 1em;
}
article p {
	font: .85em/1.6 Helvetica, Arial, sans-serif;
}

@media screen and (min-width: 500px) {
	article h2 {
		font-size: 2em;
		line-height: 40px;
	}
	article p {
		font-size: 1em;
		-moz-column-count: 2;
		-moz-column-gap: 20px;
		-o-column-count: 2;
		-o-column-gap: 20px;
		-webkit-column-count: 2;
		-webkit-column-gap: 20px;
		column-count: 2;
		column-gap: 20px;
	}
}

@media screen and (min-width: 700px) {
	article h2 {
		font-size: 2.5em;
	}
	article p {
		-moz-column-count: 3;
		-o-column-count: 3;
		-webkit-column-count: 3;
		column-count: 3;
	}
}

/* Nice animations */
article h2,
article p {
	-webkit-transition: font-size .2s ease-in-out;
	   -moz-transition: font-size .2s ease-in-out;
	     -o-transition: font-size .2s ease-in-out;
	        transition: font-size .2s ease-in-out;
}